.checking {
  padding: 50px 0;
}

.checking__container {
  padding-top: 114px;
  padding-bottom: 132px;
  border-radius: 14px;
  text-align: center;
  background-image: linear-gradient(to right, #0EA3E3, #6C22C9, #8FDEFF);
  background-size: 400% 400%;
  animation: animate-background 10s infinite ease-in-out;
}

.checking__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.checking__desc {
  margin: 0;
  padding: 0;
  margin-bottom: 49px;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.7;
}

.checking__form {
  position: relative;
  left: -50px;

  & > input {
    width: 360px;
    padding: 12px 25px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.5);
  }
  

  .cheacking_btn {
    position: absolute;
    top: -1px;
    left: 750px;
    margin: 0;
    padding: 0;
    padding: 14px 36px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background: linear-gradient(265.37deg, #9224D6 -49.74%, #BD87DE 116.53%);
    border: none;
    border-radius: 5px;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.4;
    }
  }
}


@keyframes animate-background{
  0%{
    background-position: 0 50%
  }
  50%{
    background-position: 100% 50%
  }
  100%{
    background-position: 0 50%
  }
}