.header {
  padding-top: 32px;
  background-image: linear-gradient(to right, #8FDEFF, #0EA3E3, #17044D, #6C22C9);
  background-size: 400% 400%;
  animation: animate-background 10s infinite ease-in-out;

  .top__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.sitenav__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;

  .sitenav__item {
    .sitenav__link {
      font-family: 'Poppins';
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.02em;
      color: #cfcfd7;
      text-decoration: none;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.4;
      }
    }
  }

  .sitenav__item + .sitenav__item {
    margin-left: 50px;
  }
}

.sitenav__btn {
  margin: 0;
  padding: 0;
  margin-left: 53px;
  padding: 9px 36px;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  border: 1px solid #fff;
  border-radius: 30px;
  background-color: transparent;
}

@keyframes animate-background{
  0%{
    background-position: 0 50%
  }
  50%{
    background-position: 100% 50%
  }
  100%{
    background-position: 0 50%
  }
}