.latest {
  margin-top: 100px;
}

.latest__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 35px;
  line-height: 52px;
  letter-spacing: 0.05em;
}

.latest__list {
  margin: 0;
  padding: 0;
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.latest__item {
  width: 377px;
  margin: 15px;
  & > img {
    border-radius: 10px;
    margin-bottom: 25px;
  }

  .latest__title {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
  }

  .item__heading {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02em;
  }

  .latest__desc {
    margin: 0;
    padding: 0;
    margin-bottom: 19px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #000000;
    opacity: 0.6;
  }

  .latest__btn {
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: none;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #9224D6;
  }

  & > div {
    display: flex;
    justify-content: space-between;
  }

  .latest__date {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #000000;
    opacity: 0.6;
  }

}

